body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-image: url('../img/bg.svg');
  background-size: cover;
  background-position: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.45;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}
p {
  font-size: 0.75em;
  color: #9b9b9b;
}
.rbr {
  @media (min-width: 768px) {
    display: block;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.05;
  background-repeat: repeat;
  background-size: cover;
}
#main-bg {
  background: url('../img/bg.svg');
  z-index: 1;
}
#bg-discover {
  background: url('../img/bg-discover.svg');
}
#bg-create {
  background: url('../img/bg-create.svg');
}
.rectangle-group {
  margin: 30px 0;
  @media (min-width: 768px) {
    margin: 60px 0;
  }
}
.rectangle {
  width: 70%;
  height: 480px;
  border-radius: 5px 5px 0 0;
  background-color: #eeeeee;
  box-shadow: 0 0 4px 0 rgba(170, 170, 170, 0.5);
  @media (max-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
.rectangle-subfocus {
  display: none;
}
@media (min-width: 768px) {
  .rectangle-subfocus {
    display: inline-block !important;
    width: 20%;
    height: 400px !important;
    border-radius: 5px !important;
    margin: 40px 30px 20px !important;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5) !important;
  }
}
.rectangle-focus {
  display: inline-block !important;
  width: 90%;
  border-radius: 5px !important;
  opacity: 0.9;
  background-color: #6cb2d8;
  box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5) !important;
  @media (min-width: 768px) {
    width: 25%;
  }
}
.rectangle-highlights {
  border-radius: 5px !important;
}
.rectangle-strip {
  margin-bottom: 5px !important;
}
hr {
  width: 50px;
  border: 3px solid;
}
nav {
  padding: 45px 0 !important;
  .navbar-brand {
    @media (min-width: 768px) {
      margin-left: 50px;
    }
    #logo {
      @media (max-width: 768px) {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
  .navbar-facebook {
    margin-right: 11px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .navbar-twitter {
    margin-right: 9px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .navbar-google-play {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.container-fluid {
  position: absolute;
  z-index: 2;
  opacity: 1;
}
#intro {
  //background-color: #ffffff;
  h1 {
    margin-top: 2vh;
    @media (min-width: 768px) {
      margin-top: 0;
    }
    .colorful {
      color: #6cb2d8;
    }
  }
  p {
    @media (max-width: 768px) {
      padding: 0 5%;
    }
  }
}
#highlights {
  background-color: #f7f7f7;
  h2 {
    color: #6cb2d8;
    text-transform: uppercase;
    @media (max-width: 768px) {
      padding-top: 2vh;
    }
  }
  p {
    color: #9b9b9b;
    @media (max-width: 768px) {
      padding: 0 10%;
    }
  }
  .movie-strip {
    height: 4vh;
    background-image: url('../img/square.svg');
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #f7f7f7;
  }
  .highlights-content {
    padding: 5vh 0;
    .points-A {
      .col-sm-2 {
        img {
          margin-top: 2vh;
        }
      }
      @media (min-width: 768px) {
        padding-top: 35px;
        padding-right: 0;
        .col-sm-2 {
          padding: 0;
          img {
            margin-top: 0;
          }
        }
        .col-sm-10 {
          padding-top: 2.5vh;
          h2 {
            font-size: 0.9em;
          }
          p {
            font-size: 0.6em;
            padding-left: 8%;
          }
        }
      }
    }
    .points-B {
      padding-top: 35px;
      @media (max-width: 768px) {
        padding-top: 5vh;
      }
      .col-sm-2 {
        img {
          margin-top: 2vh;
        }
      }
      @media (min-width: 768px) {
        padding-left: 0;
        .col-sm-2 {
          padding: 0;
          img {
            margin-top: 0;
          }
        }
        .col-sm-10 {
          padding-top: 2.5vh;
          h2 {
            font-size: 0.9em;
          }
          p {
            font-size: 0.6em;
            padding-right: 8%;
          }
        }
      }
    }
  }
}
#discover {
  padding: 10vh 0 0;
  background-image: url('../img/bg-discover.svg');
  background-size: cover;
  background-color: #ffffff;
  .col-sm-8 {
    @media (min-width: 768px) {
      padding: 0 15%;
    }
  }
  h1 {
    @media (min-width: 768px) {
      padding-top: 10vh;
    }
    .colorful {
      color: #e67e22;
    }
  }
  hr {
    border-color: #e67e22;
    @media (min-width: 768px) {
      margin-left: 0;
    }
  }
  p {
    @media (min-width: 768px) {
      text-align: justify !important;
    }
  }
}
#share {
  padding: 15vh 0 0;
  background-color: #f7f7f7;
  .col-sm-8 {
    @media (min-width: 768px) {
      padding: 0 15%;
    }
  }
  .col-sm-4 {
    .rectangle {
      @media (min-width: 768px) {
        float: right;
      }
    }
    #icons-share {
      position: absolute;
      top: -10vh;
      left: 60%;
      @media (max-width: 768px) {
        width: 80%;
        top: -5vh;
        left: 12%;
      }
    }
  }
  h1 {
    @media (min-width: 768px) {
      padding-top: 10vh;
    }
    .colorful {
      color: #6cb2d8;
    }
  }
  hr {
    border-color: #6cb2d8;
    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
  p {
    @media (min-width: 768px) {
      text-align: justify !important;
    }
  }
}
#create {
  padding: 10vh 0 0;
  background-color: #ffffff;
  .col-sm-8 {
    @media (min-width: 768px) {
      padding: 0 15%;
    }
  }
  h1 {
    @media (min-width: 768px) {
      padding-top: 10vh;
    }
    .colorful {
      color: #e67e22;
    }
  }
  hr {
    border-color: #e67e22;
    @media (min-width: 768px) {
      margin-left: 0;
    }
  }
  p {
    @media (min-width: 768px) {
      text-align: justify !important;
    }
  }
}
#download {
  background-color: #f7f7f7;
  h1 {
    .colorful {
      color: #6cb2d8;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .between-text {
      @media (max-width: 768px) {
        display: none;
      }
    }
    .between-text-capital {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  .movie-strip {
    height: 4vh;
    background-image: url('../img/inverted-rectangle.svg');
    background-size: contain;
    background-repeat: repeat-x;
  }
  .strip-top {
    margin-top: -4vh;
  }
  .strip-bottom {
    margin-top: 3vh;
    z-index: 1;
  }
  .download-content {
    padding: 10vh 10%;
    img {
      padding: 40px 0;
    }
  }
}
#footer {
  background-image: linear-gradient(282deg, #afd5ea, #6cb2d8);
  margin-top: -3vh;
  padding: 8vh 2% 5vh;
  p {
    color: #ffffff;
    font-size: 0.6em;
  }
  .copyright {
    @media(max-width: 768px) {
      img {
        display: table-cell;
        left: 0;
        right: 0;
        margin: 0 auto 15px;
      }
    }
    margin-top: 5vh;
    display: inline-block;
    vertical-align: middle;
  }
  .footer-nav {
    padding: 0 10%;
    p {
      line-height: 0.5;
    }
    .footer-title {
      font-size: 0.75em;
      font-weight: 700;
    }
    .legal {

    }
    .apps {

    }
    .company {

    }
  }
  .social {
    margin-top: 5vh;
    @media(max-width: 768px) {
      img {
        display: table-cell;
        float: none !important;
        left: 0;
        right: 0;
        margin: auto !important;
      }
    }
    .twitter-footer {
      margin-right: 9px;
    }
  }
}
