body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-position: center; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.45; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1em; }

p {
  font-size: 0.75em;
  color: #9b9b9b; }

@media (min-width: 768px) {
  .rbr {
    display: block; } }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.05;
  background-repeat: repeat;
  background-size: cover; }

#main-bg {
  background: url("../img/bg.svg");
  z-index: 1; }

#bg-discover {
  background: url("../img/bg-discover.svg"); }

#bg-create {
  background: url("../img/bg-create.svg"); }

.rectangle-group {
  margin: 30px 0; }
  @media (min-width: 768px) {
    .rectangle-group {
      margin: 60px 0; } }

.rectangle {
  width: 70%;
  height: 480px;
  border-radius: 5px 5px 0 0;
  background-color: #eeeeee;
  box-shadow: 0 0 4px 0 rgba(170, 170, 170, 0.5); }
  @media (max-width: 768px) {
    .rectangle {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%; } }

.rectangle-subfocus {
  display: none; }

@media (min-width: 768px) {
  .rectangle-subfocus {
    display: inline-block !important;
    width: 20%;
    height: 400px !important;
    border-radius: 5px !important;
    margin: 40px 30px 20px !important;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5) !important; } }
.rectangle-focus {
  display: inline-block !important;
  width: 90%;
  border-radius: 5px !important;
  opacity: 0.9;
  background-color: #6cb2d8;
  box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.5) !important; }
  @media (min-width: 768px) {
    .rectangle-focus {
      width: 25%; } }

.rectangle-highlights {
  border-radius: 5px !important; }

.rectangle-strip {
  margin-bottom: 5px !important; }

hr {
  width: 50px;
  border: 3px solid; }

nav {
  padding: 45px 0 !important; }
  @media (min-width: 768px) {
    nav .navbar-brand {
      margin-left: 50px; } }
  @media (max-width: 768px) {
    nav .navbar-brand #logo {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      margin: auto; } }
  nav .navbar-facebook {
    margin-right: 11px; }
    @media (max-width: 768px) {
      nav .navbar-facebook {
        display: none; } }
  nav .navbar-twitter {
    margin-right: 9px; }
    @media (max-width: 768px) {
      nav .navbar-twitter {
        display: none; } }
  @media (max-width: 768px) {
    nav .navbar-google-play {
      display: none; } }

.container-fluid {
  position: absolute;
  z-index: 2;
  opacity: 1; }

#intro h1 {
  margin-top: 2vh; }
  @media (min-width: 768px) {
    #intro h1 {
      margin-top: 0; } }
  #intro h1 .colorful {
    color: #6cb2d8; }
@media (max-width: 768px) {
  #intro p {
    padding: 0 5%; } }

#highlights {
  background-color: #f7f7f7; }
  #highlights h2 {
    color: #6cb2d8;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      #highlights h2 {
        padding-top: 2vh; } }
  #highlights p {
    color: #9b9b9b; }
    @media (max-width: 768px) {
      #highlights p {
        padding: 0 10%; } }
  #highlights .movie-strip {
    height: 4vh;
    background-image: url("../img/square.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #f7f7f7; }
  #highlights .highlights-content {
    padding: 5vh 0; }
    #highlights .highlights-content .points-A .col-sm-2 img {
      margin-top: 2vh; }
    @media (min-width: 768px) {
      #highlights .highlights-content .points-A {
        padding-top: 35px;
        padding-right: 0; }
        #highlights .highlights-content .points-A .col-sm-2 {
          padding: 0; }
          #highlights .highlights-content .points-A .col-sm-2 img {
            margin-top: 0; }
        #highlights .highlights-content .points-A .col-sm-10 {
          padding-top: 2.5vh; }
          #highlights .highlights-content .points-A .col-sm-10 h2 {
            font-size: 0.9em; }
          #highlights .highlights-content .points-A .col-sm-10 p {
            font-size: 0.6em;
            padding-left: 8%; } }
    #highlights .highlights-content .points-B {
      padding-top: 35px; }
      @media (max-width: 768px) {
        #highlights .highlights-content .points-B {
          padding-top: 5vh; } }
      #highlights .highlights-content .points-B .col-sm-2 img {
        margin-top: 2vh; }
      @media (min-width: 768px) {
        #highlights .highlights-content .points-B {
          padding-left: 0; }
          #highlights .highlights-content .points-B .col-sm-2 {
            padding: 0; }
            #highlights .highlights-content .points-B .col-sm-2 img {
              margin-top: 0; }
          #highlights .highlights-content .points-B .col-sm-10 {
            padding-top: 2.5vh; }
            #highlights .highlights-content .points-B .col-sm-10 h2 {
              font-size: 0.9em; }
            #highlights .highlights-content .points-B .col-sm-10 p {
              font-size: 0.6em;
              padding-right: 8%; } }

#discover {
  padding: 10vh 0 0;
  background-image: url("../img/bg-discover.svg");
  background-size: cover;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    #discover .col-sm-8 {
      padding: 0 15%; } }
  @media (min-width: 768px) {
    #discover h1 {
      padding-top: 10vh; } }
  #discover h1 .colorful {
    color: #e67e22; }
  #discover hr {
    border-color: #e67e22; }
    @media (min-width: 768px) {
      #discover hr {
        margin-left: 0; } }
  @media (min-width: 768px) {
    #discover p {
      text-align: justify !important; } }

#share {
  padding: 15vh 0 0;
  background-color: #f7f7f7; }
  @media (min-width: 768px) {
    #share .col-sm-8 {
      padding: 0 15%; } }
  @media (min-width: 768px) {
    #share .col-sm-4 .rectangle {
      float: right; } }
  #share .col-sm-4 #icons-share {
    position: absolute;
    top: -10vh;
    left: 60%; }
    @media (max-width: 768px) {
      #share .col-sm-4 #icons-share {
        width: 80%;
        top: -5vh;
        left: 12%; } }
  @media (min-width: 768px) {
    #share h1 {
      padding-top: 10vh; } }
  #share h1 .colorful {
    color: #6cb2d8; }
  #share hr {
    border-color: #6cb2d8; }
    @media (min-width: 768px) {
      #share hr {
        margin-right: 0; } }
  @media (min-width: 768px) {
    #share p {
      text-align: justify !important; } }

#create {
  padding: 10vh 0 0;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    #create .col-sm-8 {
      padding: 0 15%; } }
  @media (min-width: 768px) {
    #create h1 {
      padding-top: 10vh; } }
  #create h1 .colorful {
    color: #e67e22; }
  #create hr {
    border-color: #e67e22; }
    @media (min-width: 768px) {
      #create hr {
        margin-left: 0; } }
  @media (min-width: 768px) {
    #create p {
      text-align: justify !important; } }

#download {
  background-color: #f7f7f7; }
  #download h1 .colorful {
    color: #6cb2d8; }
    @media (max-width: 768px) {
      #download h1 .colorful {
        display: none; } }
  @media (max-width: 768px) {
    #download h1 .between-text {
      display: none; } }
  @media (min-width: 768px) {
    #download h1 .between-text-capital {
      display: none; } }
  #download .movie-strip {
    height: 4vh;
    background-image: url("../img/inverted-rectangle.svg");
    background-size: contain;
    background-repeat: repeat-x; }
  #download .strip-top {
    margin-top: -4vh; }
  #download .strip-bottom {
    margin-top: 3vh;
    z-index: 1; }
  #download .download-content {
    padding: 10vh 10%; }
    #download .download-content img {
      padding: 40px 0; }

#footer {
  background-image: linear-gradient(282deg, #afd5ea, #6cb2d8);
  margin-top: -3vh;
  padding: 8vh 2% 5vh; }
  #footer p {
    color: #ffffff;
    font-size: 0.6em; }
  #footer .copyright {
    margin-top: 5vh;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 768px) {
      #footer .copyright img {
        display: table-cell;
        left: 0;
        right: 0;
        margin: 0 auto 15px; } }
  #footer .footer-nav {
    padding: 0 10%; }
    #footer .footer-nav p {
      line-height: 0.5; }
    #footer .footer-nav .footer-title {
      font-size: 0.75em;
      font-weight: 700; }
  #footer .social {
    margin-top: 5vh; }
    @media (max-width: 768px) {
      #footer .social img {
        display: table-cell;
        float: none !important;
        left: 0;
        right: 0;
        margin: auto !important; } }
    #footer .social .twitter-footer {
      margin-right: 9px; }

/*# sourceMappingURL=stylesheet.css.map */
